{% load static %}
<head>
    <meta charset="UTF-8">
    <title>M33061</title>
    <meta name="author"
          content="маша">
    <meta name="description"
          content="сайт пожилой группы">
    <meta name="keywords"
          content="университет, группа, одногруппники">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>